################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BOOSE-Docs.slnx/FileContentIndex/01c0d3f1-2e49-4d5a-aa00-99013f53ffa4.vsidx
/.vs/BOOSE-Docs.slnx/FileContentIndex/6cc2f213-13c4-4cc8-a92c-4634651183ec.vsidx
